pre.formatted {
    white-space: normal;
}

pre.formatted code {
    white-space: pre;
    color: #ebdbb2;
}

pre.formatted ol {
    counter-reset: line;
}

pre.formatted ol > li {
    list-style-type: none;
    counter-increment: line;
}

pre.formatted ol > li::before {
    content: counter(line);
    display: inline-block;
    width: 3ch;
    text-align: right;
    margin-right: 1ch;
    color: #928374;
    -webkit-user-select: none;
}

pre.formatted .token.comment,
pre.formatted .token.prolog,
pre.formatted .token.doctype,
pre.formatted .token.cdata {
    color: #7c6f64;
}

pre.formatted .token.punctuation {
    color: #a89984;
}

.namespace {
    opacity: 0.7;
}

pre.formatted .token.property,
pre.formatted .token.keyword,
pre.formatted .token.tag {
    color: #fb4934;
}

pre.formatted .token.class-name {
    color: #f0f;
    text-decoration: underline;
}

pre.formatted .token.boolean,
pre.formatted .token.constant {
    color: #d3869b;
}

pre.formatted .token.symbol,
pre.formatted .token.deleted {
    color: #f92672;
}

pre.formatted .token.number {
    color: #d3869b;
}

pre.formatted .token.selector,
pre.formatted .token.attr-name,
pre.formatted .token.string,
pre.formatted .token.char,
pre.formatted .token.builtin,
pre.formatted .token.inserted {
    color: #b8bb26;
}

pre.formatted .token.variable {
    color: #fabd2f;
}

pre.formatted .token.operator {
    color: #8ec07c;
}

pre.formatted .token.entity {
    color: #f0f;
    /* text-decoration: underline; */
}

pre.formatted .token.url {
    color: #f0f;
}

pre.formatted .token.atrule,
pre.formatted .token.attr-value {
    color: #f0f;
}

pre.formatted .token.function {
    color: #fabd2f;
}

pre.formatted .token.regex {
    color: #f0f;
}

pre.formatted .token.important {
    color: #f0f;
}

pre.formatted .token.important,
pre.formatted .token.bold {
    font-weight: bold;
}
pre.formatted .token.italic {
    font-style: italic;
}

pre.formatted .token.entity {
    cursor: help;
}
