* {
    padding: 0;
    margin: 0;
}

html {
    position: relative;

    width: 100%;
    height: 100vh;
    min-height: 56.25vw;

    font-family: "Fira Sans", sans-serif;

    background-color: #1d2021;
    color: #ebdbb2;
}

pre,
code {
    width: 100%;
    height: 100%;

    font-family: "Fira Code", monospace;
    font-feature-settings: "calt" 1;
    font-variant-ligatures: contextual;

    overflow: auto;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto 0;

    width: 100%;
    height: 56.25vw;

    background-color: #282828;
}

#viewport {
    position: absolute;
    top: 0;
    right: 0;
    width: 56.25vw;
    height: 100%;
}

#info {
    width: auto;
    height: 100%;
    margin-right: 56.25vw;
}

#info .bot-info {
    margin: 1em;
}

.bot-info h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.bot-info h2.team0 {
    color: #fb4934;
}

.bot-info h2.team1 {
    color: #83a598;
}

.bot-info dl {
    position: relative;
    overflow: auto;
    margin-top: 0.3em;
}

.bot-info dt {
    float: left;
    clear: left;
    width: 5em;
    text-transform: uppercase;
    font-variant: small-caps;
    color: #d79921;
}

.bot-info dd {
    float: left;
    clear: right;
    width: 3em;
    text-align: right;
    color: #b8bb26;
}
